<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Thanks for submitting</h1>
    <a href="/" style="
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
" onmouseover="this.style.backgroundColor='#0056b3'" onmouseout="this.style.backgroundColor='#007BFF'">
    Go to Home
</a>
</body>
</html>